@tailwind base;
@tailwind components;
@tailwind utilities;

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  /* outline: 0; */
  caret-color: #444;
  @apply outline-1 pl-2 py-2;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  display: inline-block;
  pointer-events: none;
  @apply absolute top-2 left-2;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}

.editor-container {
  @apply relative;
}

button {
  @apply border rounded border-neutral-800 px-4;
}


.tree-view-output {
  @apply text-xs mt-6;
}